################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/dotName5780_01_8997_5923/v15/Server/sqlite3
